<header class="fixed">
    <div class="container">
        <div class="row">
            <div class="logo">
                <a href="/">
                    <img src="../../../assets/public/img/logo.jpg" alt="logo">
                    <span class="name">TeachMe</span>
                </a>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/">Sobre mí</a></li>
                    <li><a href="/">Servicios</a></li>
                    <li><a href="/">Proyectos</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<section class="home">
    <div class="container">
        <app-home></app-home>
    </div>
</section>
<section class="teach-me">
    <div class="container">
        <app-learning></app-learning>
    </div>
</section>
<footer>
    <div class="container">
        <app-footer></app-footer>
    </div>
</footer>
